{% extends "base.html.twig" %}
{% block title %}Symfony Recipe - Modification mes ingredients{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="mt-4">Modification d'un ingrédients</h1>
        {{ form_start(form) }}
            {# input Nom #}
            <div class="form-group">
                {{ form_label(form.name)}}
                {{ form_widget(form.name)}}
                <div class="form-error">
                    {{ form_errors(form.name) }}
                </div>
            </div>
            {# input price #}
            <div class="form-group">
                {{ form_label(form.price)}}
                {{ form_widget(form.price)}}
                <div class="form-error">
                    {{ form_errors(form.price) }}
                </div>
            </div>

            {# button submit #}
            <div class="form-group">
                {{form_row(form.submit)}}
            </div>

        {{ form_end(form) }}
    </div>
{% endblock %}