{% extends 'base.html.twig' %}

{% block title %}Symfony Recipe - Mes ingrédients{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% if not ingredients.items is same as [] %}
        
        <h1>Mes ingrédients</h1>

        {# read and display just one flash message type #}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {# button to create new ingredient #}
        <a class="btn btn-primary" href="{{ path('ingredient.new')}}">Créer un ingrédient
        </a>
        {# total items count #}
        <div class="count mt-4">
            <small>Il y a {{ ingredients.getTotalItemCount }} ingrédients au total</small>
        </div>

        <table class="table table-hover  mt-4">
            <thead>
                <tr>
                <th scope="col">ID</th>
                <th scope="col">Nom</th>
                <th scope="col">Prix</th>
                <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient in ingredients %}
                    <tr class="table-primary">
                        <th scope="row">{{ingredient.id}}</th>
                        <td>{{ingredient.name}}</td>
                        <td>{{ingredient.price}}</td>
                        <td>{{ingredient.createdAt|date('d/m/Y')}}</td>
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>
        
        {# display navigation #}
        <div class="navigation d-flex justify-content-center mt-4">
            {{ knp_pagination_render(ingredients) }}
        </div>
        {% else %}
        <h4> Il n'y a pas ingrédients </h4>
        {% endif %}
    </div>
{% endblock %}
